* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

* body {
  background-color: #f3f3f4;
}

* .container-fluid {
  width: 95%;
}

* .my-container {
  width: 95%;
  position: relative;
}

* #top-side {
  width: 100%;
  height: 100px;
  background-color: #333F98;
}

* #top-side .container-fluid {
  width: 95%;
}

* #top-side .language {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

* #top-side .language .button1 {
  border-radius: 0px;
  background-color: #333F98;
  border: 0px;
}

* #top-side .country {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

* #top-side .country .button2 {
  border-radius: 0px;
  background-color: #333F98;
  border: 0px;
}

* #top-side .country ul img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: relative;
  left: 10px;
}

* #top-side .country ul li {
  margin: 6px;
}

* #top-side .country .usa-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* #top-side .country .nzd-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* #top-side .country .gmd-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* #top-side .country .ilr-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* #top-side .country .eur-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* #top-side .country .inr-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* #top-side .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* #top-side .logo img {
  margin-top: 36px;
}

* #top-side .icons {
  float: right;
}

* #top-side .icons .basket {
  background-color: orange;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-left: 10px;
}

* #top-side .icons .basket i {
  margin-left: 10px;
}

* #top-side .icons .basket {
  background-color: orange;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-left: 10px;
}

* #top-side .icons .basket i {
  margin-left: 10px;
}

* #top-side .icons .heart {
  background-color: orange;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  margin-left: 10px;
}

* #top-side .icons .heart i {
  margin-left: 10px;
}

* #top-side .icons .profile {
  margin-top: 23px;
}

* #top-side .icons .profile .button3 {
  background-color: #333F98;
  border: 0px;
}

* #top-side .icons .profile img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
  left: 2px;
}

* #top-side .icons .profile .profile-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* #top-side .icons .profile .account-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* #top-side .icons .profile .message-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* #top-side .icons .profile .logout-i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* #top-side .icons .profile i {
  position: relative;
  left: 10px;
  top: 8px;
  font-size: 20px;
}

* #nav-area {
  background-color: #283593;
}

* #nav-area .my-container {
  width: 95%;
  margin: auto;
}

* #nav-area .my-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* #nav-area .my-container .btn-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

* #nav-area .my-container .btn-navbar .admin {
  background-color: #FF5722;
  width: 115px;
  height: 45px;
  padding-top: 10px;
}

* #nav-area .my-container .btn-navbar .admin .admin-nav {
  color: white;
  margin-left: 5px;
  text-decoration: none;
}

* #nav-area .my-container .btn-navbar li {
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 25px;
}

* #nav-area .my-container .btn-navbar li .nav-a {
  color: white;
  display: block;
  text-decoration: none;
  position: relative;
  margin-top: 10px;
  padding-bottom: 10px;
}

* #nav-area .my-container .btn-navbar li .nav-a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0px;
  background-color: #FF5722;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0, 0);
          transform: scale(0, 0);
  visibility: hidden;
}

* #nav-area .my-container .btn-navbar li:hover .submenu {
  height: 200px;
}

* #nav-area .my-container .btn-navbar li:hover .categori {
  height: 320px;
  width: 800px;
}

* #nav-area .my-container .btn-navbar li:hover a::before {
  visibility: visible;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

* #nav-area .my-container .btn-navbar li .submenu {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 150px;
  line-height: 40px;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  text-align: left;
  padding-left: 15px;
  border-radius: 5px;
  z-index: 2;
}

* #nav-area .my-container .btn-navbar li .submenu a {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

* #nav-area .my-container .btn-navbar li .categori {
  overflow: hidden;
  position: absolute;
  margin-top: 10px;
  background-color: white;
  height: 0;
  width: 0;
  line-height: 30px;
  text-align: left;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  text-align: left;
  margin-left: -200px;
  border-radius: 10px;
  z-index: 2;
}

* #nav-area .my-container .btn-navbar li .categori table td {
  border: none;
}

* #nav-area .my-container .btn-navbar li .categori table th {
  font-size: 17px;
  color: #283593;
}

* #nav-area .my-container .btn-navbar li .categori table th:hover {
  color: #000;
}

* #nav-area .my-container .btn-navbar h1 {
  text-align: center;
  font-family: satisfy;
  font-weight: 300;
}

* #nav-area .icon {
  width: 56px;
  height: 56px;
  background-color: #FF5722;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  right: 0;
  margin-top: 20px;
  position: absolute;
  z-index: 1;
}

* #nav-area .icon i {
  color: white;
}

* #glass .glass-plus {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* #glass .glass-plus img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
  width: 100%;
  height: 344px;
}

* #glass .glass-plus .glass-info {
  position: absolute;
  text-align: center;
  color: white;
  z-index: 1;
}

* #glass .glass-plus .glass-info h1 {
  font-size: 25px;
  font-weight: lighter;
}

* #glass .glass-plus .glass-info h3 {
  font-size: 40px;
}

* #slide-accesories {
  background-image: url(../images/contact-girl.jpg);
  height: 400px;
  background-position: 2%;
  background-size: 100%;
}

* #slide-accesories .my-container {
  width: 95%;
  height: 50px;
  margin: auto;
}

* #slide-accesories .my-container .sliders {
  width: 100%;
  height: 330px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

* #slide-accesories .my-container .sliders h4 {
  font-size: 42px;
  font-weight: bold;
}

* #slide-accesories .my-container .sliders img {
  width: 100%;
}

* #products {
  padding-top: 80px;
}

* #products .my-container {
  width: 95%;
  margin: auto;
}

* #products .my-container .search {
  width: 100%;
  height: 86px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

* #products .my-container .search input {
  width: 250px;
  outline: none;
  border: 0 solid #fff;
  border-bottom: 1px solid #eae6e6;
  cursor: pointer;
}

* #products .my-container .brand {
  width: 100%;
  height: 322px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  margin: 30px 0;
  padding: 25px;
  border-radius: 5px;
}

* #products .my-container .brand .input {
  width: 250px;
  outline: none;
  border: 0 solid #fff;
  border-bottom: 1px solid #eae6e6;
}

* #products .my-container .brand input {
  margin-top: 20px;
  cursor: pointer;
}

* #products .my-container .brand span {
  background-color: #999999;
  padding: 0 5px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

* #products .my-container .brand label {
  cursor: pointer;
}

* #products .my-container .type {
  width: 100%;
  height: 285px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  margin: 30px 0;
  padding: 25px;
  border-radius: 5px;
}

* #products .my-container .type input {
  margin-top: 20px;
  cursor: pointer;
}

* #products .my-container .type span {
  background-color: #999999;
  padding: 0 5px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

* #products .my-container .type label {
  cursor: pointer;
}

* #products .my-container .category {
  width: 100%;
  height: 322px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  margin: 30px 0;
  padding: 25px;
  border-radius: 5px;
}

* #products .my-container .category .input {
  width: 250px;
  outline: none;
  border: 0 solid #fff;
  border-bottom: 1px solid #eae6e6;
}

* #products .my-container .category input {
  margin-top: 20px;
  cursor: pointer;
}

* #products .my-container .category span {
  background-color: #999999;
  padding: 0 5px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

* #products .my-container .category label {
  cursor: pointer;
}

* #products .my-container .price {
  width: 100%;
  height: 373px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  margin: 30px 0;
  padding: 25px;
  border-radius: 5px;
}

* #products .my-container .price input {
  margin-top: 20px;
  cursor: pointer;
}

* #products .my-container .price label {
  font-weight: bold;
  cursor: pointer;
}

* #products .my-container .price h5 {
  margin-top: 15px;
}

* #products .my-container .price .input {
  width: 70px;
  outline: none;
  border: 0 solid #fff;
  border-bottom: 1px solid black;
}

* #products .my-container .price .input::-webkit-input-placeholder {
  color: black;
}

* #products .my-container .price .input:-ms-input-placeholder {
  color: black;
}

* #products .my-container .price .input::-ms-input-placeholder {
  color: black;
}

* #products .my-container .price .input::placeholder {
  color: black;
}

* #products .my-container .price button {
  border: none;
  padding: 2px 10px;
  background-color: #FF5722;
  color: white;
  border-radius: 4px;
  margin-left: 8px;
}

* #products .my-container .price button:hover {
  background-color: hotpink;
}

* #products .my-container .rating {
  width: 100%;
  height: 277px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  margin: 30px 0;
  padding: 25px;
  border-radius: 5px;
}

* #products .my-container .rating ion-icon {
  margin-top: 15px;
  font-size: 20px;
  color: #FF5722;
  cursor: pointer;
}

* #products .my-container .rating span {
  background-color: #999999;
  padding: 0 5px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

* #products .my-container .clear {
  width: 100%;
  height: 83px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  margin: 30px 0;
  padding: 25px;
  border-radius: 5px;
}

* #products .my-container .clear .filter {
  width: 130px;
  height: 35px;
  background-color: #FF5722;
  border-radius: 5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

* #products .my-container .clear .filter:hover {
  background-color: hot;
}

* #products .my-container select {
  width: 280px;
  height: 35px;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

* #products .my-container .span {
  float: right;
}

* #products .my-container .my-card {
  width: 100% !important;
  height: 373px;
  margin: 30px 0;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

* #products .my-container .my-card:hover .fa-cart-shopping {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* #products .my-container .my-card .image {
  width: 100%;
  height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #eae6e6;
}

* #products .my-container .my-card .image img {
  cursor: pointer;
}

* #products .my-container .my-card .image i {
  position: absolute;
  font-size: 25px;
  color: #999999;
  right: 15px;
  top: 15px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* #products .my-container .my-card .image i:hover {
  color: hotpink;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* #products .my-container .my-card .card-bottom {
  position: relative;
}

* #products .my-container .my-card .card-bottom h5 {
  margin-top: 15px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

* #products .my-container .my-card .card-bottom h5:hover {
  color: #FF5722;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* #products .my-container .my-card .card-bottom h6 {
  display: inline;
  color: #FF5722;
  font-size: 18px;
}

* #products .my-container .my-card .card-bottom ion-icon:nth-last-child(5) {
  color: #999999;
}

* #products .my-container .my-card .card-bottom ion-icon {
  color: #EDB867;
  font-size: 25px;
  right: 100px;
  float: right;
}

* #products .my-container .my-card .card-bottom i {
  color: white;
  font-size: 20px;
  position: absolute;
  padding: 18px;
  border-radius: 50%;
  background-color: #FF5722;
  right: 15px;
  top: -30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* #products .my-container .number i {
  padding: 0 8px;
}

* #products .my-container .number span {
  padding: 1px 10px;
  font-size: 20px;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* #products .my-container .number span:hover {
  background-color: #ed0b0b;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
}

* #footer-company {
  background-color: black;
  width: 100%;
  height: 321px;
}

* #footer-company .container-fluid .texts {
  color: white;
  font-size: 11px;
  padding-left: 335px;
}

* #footer-company .container-fluid hr {
  color: white;
}

* #footer-company .container-fluid .about-c {
  margin-top: 30px;
}

* #footer-company .container-fluid .about-c h5 {
  color: white;
  font-size: 14px;
}

* #footer-company .container-fluid .about-c p {
  color: white;
  font-size: 11px;
  cursor: pointer;
}

* #footer-company .container-fluid .about {
  margin-top: 30px;
}

* #footer-company .container-fluid .about h5 {
  color: white;
  font-size: 14px;
}

* #footer-company .container-fluid .about p {
  color: white;
  font-size: 12px;
  line-height: 8px;
  cursor: pointer;
}

* #footer-company .container-fluid .about p:hover {
  color: red;
}

* #footer-company .container-fluid .session {
  margin-top: 30px;
}

* #footer-company .container-fluid .session h5 {
  color: white;
  font-size: 14px;
}

* #footer-company .container-fluid .session p {
  color: white;
  font-size: 12px;
  line-height: 8px;
  cursor: pointer;
}

* #footer-company .container-fluid .session p:hover {
  color: hotpink;
}

* #footer-company .container-fluid .categories {
  margin-top: 30px;
}

* #footer-company .container-fluid .categories h5 {
  color: white;
  font-size: 14px;
}

* #footer-company .container-fluid .categories p {
  color: white;
  font-size: 12px;
  line-height: 8px;
  cursor: pointer;
}

* #footer-company .container-fluid .categories p:hover {
  color: red;
}

* #footer-company .container-fluid .social {
  margin-top: 30px;
}

* #footer-company .container-fluid .social h5 {
  color: white;
  font-size: 14px;
}

* #footer-company .container-fluid .social p {
  color: white;
  font-size: 12px;
  line-height: 8px;
  cursor: pointer;
}

* #footer-company .container-fluid .social p:hover {
  color: red;
}
/*# sourceMappingURL=accesories.css.map */