@Model List<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section id="slide-accesories">
        <div class="my-container">
            <div class="row">
                <div class="sliders">
                    <div class="summary">
                        <h4>Accessories</h4>
                        <p>Choose The Wide Range Of Best Accessories.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="products">
        <div class="my-container">
            <div class="row">
                <div class="col-3">
                    <div class="search">
                        <input type="search" placeholder="Search Products">
                    </div>


                    <div class="brand">
                        <h5><b>Brand</b></h5>
                        <input class="input" type="search" placeholder="Search Here">
                        <input type="checkbox">
                        <label><b>Insignia™</b> <span>733</span></label><br>
                        <input type="checkbox">
                        <label> <b>Samsung</b> <span>585</span></label><br>
                        <input type="checkbox">
                        <label> <b>HP</b> <span>455</span></label><br>
                        <input type="checkbox">
                        <label> <b>Metra</b> <span>450</span></label><br>
                        <input type="checkbox">
                        <label> <b>Apple</b> <span>392</span></label><br>
                    </div>



                    <div class="type">
                        <h5><b>Type</b></h5>
                        <input type="checkbox">
                        <label><b>Trend cases</b> <span>452</span></label><br>
                        <input type="checkbox">
                        <label><b>Ult protection cases</b> <span>393</span></label><br>
                        <input type="checkbox">
                        <label> <b>Ink cartridges</b> <span>213</span></label><br>
                        <input type="checkbox">
                        <label><b> Business cases</b> <span>203</span></label><br>
                        <input type="checkbox">
                        <label> <b>Connectivity</b> <span>179</span></label><br>
                    </div>


                    <div class="category">
                        <h5><b>Category</b></h5>
                        <input class="input" type="search" placeholder="Search Here">
                        <input type="checkbox">
                        <label> <b>Cell Phone Accessories</b> <span>3,722</span></label><br>
                        <input type="checkbox">
                        <label> <b>Cell Phones</b> <span>2,919</span></label><br>
                        <input type="checkbox">
                        <label> <b>Computers & Tablets </b><span>2,876</span></label><br>
                        <input type="checkbox">
                        <label><b> Appliances</b> <span>2,470</span></label><br>
                        <input type="checkbox">
                        <label><b>TV & Home Theater </b><span>1,364</span></label><br>
                    </div>



                    <div class="price">
                        <h5><b>Price</b></h5>
                        <input type="radio" name="price">
                        <label> Below $10 </label><br>

                        <input type="radio" name="price">
                        <label> $10 - $100</label><br>

                        <input type="radio" name="price">
                        <label> $100 - $500 </label><br>

                        <input type="radio" name="price">
                        <label> Above $500 </label><br>

                        <input type="radio" name="price">
                        <label>All </label><br>

                        <h5><b>Enter Price Range</b></h5>
                        <input class="input" type="number" placeholder="1" min="0" max="5000">
                        <span>-</span>
                        <input class="input" type="number" placeholder="5000" min="0" max="5000">
                        <button>Go</button>
                    </div>
                    <div class="rating">
                        <h5><b>Rating Menu</b></h5>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <span>2150</span><br>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <span>16074</span><br>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <span>17696</span><br>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <span>17890</span><br>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <ion-icon name="star-outline"></ion-icon>
                        <span>17890</span>
                    </div>
                    <div class="clear">
                        <div class="filter">
                            <b> Clear all filters</b>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="row">
                        <div class="col-12">
                            <select name="cars" id="cars">
                                <option value="volvo">Highest Price</option>
                                <option value="saab">Featured</option>
                                <option value="opel">Lowest Price</option>
                            </select>
                            <span class="span"><b>18,046 results found in 6ms</b></span>
                        </div>
                        @foreach (var item in Model)
                            {
                                <div class="col-4">
                            <div class="card my-card" style="width: 18rem;">
                                <div class="image">
                                    <i class="fa-solid fa-heart"></i>
                                    <img src="~/./assets/images/@item.Image" class="imgCards"
                                         alt="...">
                                </div>
                                <div class="card-body card-bottom">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    <h5 class="card-title">@item.Name</h5>
                                    <h6 class="card-text">$ @item.Price</h6>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star-half-sharp"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                    <ion-icon name="star"></ion-icon>
                                </div>
                            </div>
                            
                                
                            </div>
                            }
                            <div class="row">
                                <div class="show-more">
                                    <button class="btn btn-success">load more</button>

                                </div>

                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        
    </section>



</main>

